<article>
<h1 class="ui header">
  <i class="{{ .Params.icon }} icon"></i>
  <div class="content">
    {{ .Title }}
    <div class="sub header">{{ .Params.subtitle }}</div>
  </div>
</h1>
{{ .Content }}
</article>
