    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.semanticui.min.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.semanticui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css">
    <script type="text/javascript">
    function format(d) {
        // `d` is the data object for the row
        return '<table class="ui basic very padded very basic table" style="margin-left: 2em">' +
            '<tr>' +
            '<td><b>Location:   </b>' + d[1] + '</td>' +
            '<td><b>Type of Appointment:   </b>' + d[4] + '</td>' +
            '<td><b>Pay Plan:   </b>' + d[5] + '</td>' +
            '<td><b>Pay Level / Grade:   </b>' + d[6] + '</td>' +
            '<td><b>Tenure:   </b>' + d[7] + '</td>' +
            '<td><b>Expires:   </b>' + d[8] + '</td>' +
            '</tr>' +
            '</table>';

    }

    $(document).ready(function() {
        $('.ui.dropdown')
            .dropdown();
    $('.message .close')
      .on('click', function() {
        $(this)
          .closest('.message')
          .transition('fade')
        ;
      })
    ;
        $('.menu .item')
            .tab();

        var table = $('#example').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": '/api/api.php',
            "columns": [
                { "name": "year", "searchable": false, "bVisible": true },
                { "name": "location", "searchable": false, "bVisible": false },
                { "name": "name", "searchable": true, "bVisible": true },
                { "name": "title", "searchable": false, "bVisible": true },
                { "name": "type", "searchable": false, "bVisible": false },
                { "name": "pay_plan", "searchable": false, "bVisible": false },
                { "name": "pay_level_grade", "searchable": false, "bVisible": false },
                { "name": "tenure", "searchable": false, "bVisible": false },
                { "name": "expires", "searchable": false, "bVisible": false },
                { "name": "agency", "searchable": false, "bVisible": true },
                { "name": "big_office", "searchable": false, "bVisible": true },
                { "name": "little_office", "searchable": false, "bVisible": true },
            ]
        });

        // Add event listener for opening and closing details
        $('#example tbody').on('click', 'td', function() {
            var tr = $(this).closest('tr');
            var row = table.row(tr);

            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            } else {
                // Open this row
                row.child(format(row.data())).show();
                tr.addClass('shown');
            }
        });
    });
    </script>

    <style type="text/css">
    header {
        background-color: black;
    }

    h2 a {
        color: black;
        !important
    }

    .center-screen {
        padding-top: 15em;
    }

    main {
        padding-bottom: 6em;
    }


    article {
        margin-top: 3em;
    }
    </style>

    <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter48912701 = new Ya.Metrika({
                    id:48912701,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/48912701" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->