<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="Last Men in Europe" />
{{ if .Description }}
  <meta name="description" content="{{ .Description }}">
{{ else }}
  <meta name="description" content="Plum Book Party allows users to search Plum Books published by the General Priniting Office (GPO) in the United States. It contains high-level positions, all of whom are members of SES.">
{{ end }}
  {{ .Hugo.Generator -}}
