{{ $currentPage := . }}
<nav class="ui inverted menu stackable">
    <div class="ui container">
        <a href="/" class="header item"><i class="home icon"></i>plumbook.party</a>
        <div class="right menu">
            {{ range .Site.Menus.main }}
            <a class="item {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL}}">
                <i class="{{.Page.Params.icon}} icon"></i> {{ .Name }}
            </a> {{ end }}
	    <div class="ui dropdown item">
	      More <i class="dropdown icon"></i>
	      <div class="menu">
            {{ range .Site.Menus.about }}
            <a class="item {{if or ($currentPage.IsMenuCurrent "about" .) ($currentPage.HasMenuCurrent "about" .) }} active{{end}}" href="{{.URL}}">
                {{ .Name }}
            </a>
            {{ end }}
	      </div>
	    </div>
        </div>
    </div>
</nav>

