{{ define "main" }}
<div class="ui container">
     <div class="center-screen">
        <div class="ui grid stackable">
            <div class="four wide column">
                <h2 class="ui center aligned icon header"><a href="/search-recent-plum-books/">
                <i class="search icon"></i>
                Recent Plum Books</a>
                </h2>
                <p>Search Plum Books from 1996, 2004, 2008, 2012 &amp; 2016. It is the most accurate way of searching the Plum Books.</p> 
            </div>

            <div class="four wide column">
                <h2 class="ui center aligned icon header"><a href="/search-all-plum-books/">
                <i class="search icon"></i>
                All Plum Books</a>
                </h2>
                <p>Use Google or Bing to search though <small>PDF</small> versions of the Plum Books. This is less reliable.</p> 
            </div>

            <div class="four wide column">
                <h2 class="ui center aligned icon header"><a href="/download/">
                <i class="download icon"></i>
                Download Plum Books</a>
                </h2>
                <p>Download Plum Books in a range of formats.</p> 
            </div>

            <div class="four wide column">
                <h2 class="ui center aligned icon header"><a href="/about/">
                <i class="question icon"></i>
                About Plum Books</a>
                </h2>
                <p>What are the Plum Books and why are they important?</p>
            </div>
        </div>
    </div>
</div>
{{ end }}